body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.blue{
    color:rgb(51, 51, 255);
}
.button{
    text-decoration: none;
    font-weight: 900;
    background-image: linear-gradient(blue, cyan);
    color: white;
    padding: 10px 40px;
    border-radius: 40px;
}
h1{
    font-size: 50px;
    font-weight: 900;
    color: gray;
}
h2{
    font-size: 30px;
    font-weight: 900;
    color: gray;
}
.last-head{
    font-size: 40px;
    font-weight: 900;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top{
    display: flex;
    margin-bottom: 100px;
}
.divition{
    width: 50%;
    padding-left: 7%;
    padding-right: 7%;
}
.divition img{
    width: 100%;
}
.middle{
    display: flex;
    margin-bottom:100px;
    background-image: url(images/frame.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.mid-text{
    padding: 10%;
}

.middle-bottom{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
    margin-bottom: 100px;
}
.bottom-group{
    display: flex;
    margin-bottom:100px;
}
.shadow{
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
    border-radius: 30px;
    width: 22%;
}
.shadow img{
    width: 100%;
}
.shadow h3{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}
.under{
    width: 100%;
    text-align: center;
}
.ground{
    display: flex;
    margin-bottom: 100px;
    box-shadow: 10px 10px 40px gray;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 30px;
    width: 60%
}
footer{
    background-image: linear-gradient(rgb(48, 46, 46),rgb(20, 20, 20));
    padding-top: 10px;
    padding-bottom: 70px;
}
#food{
    color: rgb(51, 51, 255);
    font-size: 30px;
    font-weight: 900;   
}
#fact{
    color: gray;
    font-size: 30px;
    font-weight: 900;
}
#finish{
    color: lightcyan;
    text-align: center;
}